<p>Shopping Cart</p>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    you have {{ cart.totalItemsCount }} in your shopping cart
    <button
      *ngIf="cart.items.length"
      (click)="clearCart()"
      class="btn btn-light btn-small">Clear Shopping Cart</button>

  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">Price</th>
      </tr>
    </thead>
    <tr *ngFor="let item of cart.items">
      <td><div class="img-thumbnail" [ngStyle]="{'background-image': 'url('+item.imageUrl+')'}"></div></td>
      <td>{{ item.title }} </td>
      <td>
        <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
      </td>
      <td class="text-right">{{ item.totalPrice | currency:"USD" }}</td>
    </tr>
    <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">{{ cart.totalPrice | currency:"USD"  }}</td>
    </tr>
    </tfoot>
  </table>
  <a
    *ngIf="cart.items.length"
    routerLink="/check-out"
    class="btn btn-success">Check Out</a>
</div>
